html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#controller {
    width: 240px;
    height: auto;
    background-color: #f4f4f4;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* left: 960px; */
    /* top: 20px; */
    z-index: 2;
}

#controller h3 {
    text-align: center;
    margin: 6px 0;
}

#controller .top-title {
    margin: 0 0 6px 0;
}

#map {
    width: 1920px;
    height: 960px;
    z-index: 1;
}

.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.methaan {
    background-color: #45f542;
}

.ammoniak {
    background-color: #424bf5;
}

.so2 {
    background-color: #ecf542;
}

.no2 {
    background-color: #42e9f5;
}

.co2 {
    background-color: #f54242;
}

div.customIcon {
    display: hidden;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.emission-type-color-marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    /* margin-top: 2.5px; */
}

.filter-button {
    width: 60px;
    height: 21px;
}

.button-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6px;
    gap: 10px;
}